.moviesCardList {
  color: #222;
  display: grid;
  justify-items: center;
  gap: 32px 28px;
  grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
  padding: 0 70px 60px;
}

.moviesCardList__more {
  border: 1px solid #424242;
  background: none;
  color: #fff;
  border-radius: 3px;
  width: 320px;
  height: 36px;
  padding: 0;
  display: block;
  margin: 0 auto 80px;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.91px;
}

@media (max-width: 768px) {
  .moviesCardList {
    padding: 0 30px 91px;
    gap: 35px 24px;
    grid-template-columns: repeat(auto-fill,minmax(342px,1fr));
  }
}

@media (max-width: 425px) {
  .moviesCardList {
    padding: 40px 10px 80px;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  }

  .moviesCardList__more {
    width: 240px;
    margin: 0 auto 80px;
    font-size: 12px;
  }
}
