.moviesCard {
  background-color: #222;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 18px;
  width: 360px;
  height: 319px;
}

.moviesCard__title {
  grid-area: 1 / 1 / 2 / 3;
  padding-left: 18px;
  padding-top: 18px;
  margin: 0;
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: context-menu;
}

.moviesCard__diration {
  grid-area: 1 / 3 / 2 / 4;
  padding-right: 18px;
  padding-top: 18px;
  margin: 0;
  text-align: right;
  color: #8B8B8B;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  cursor: context-menu;
}

.moviesCard__image-link {
  grid-area: 2 / 1 / 3 / 4;
  max-width: 100%;
  height: 200px;
}

.moviesCard__image-link:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.moviesCard__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.moviesCard__button {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0 auto;
  background: rgba(49, 49, 49, 1);
  color: #fff;
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 29px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.91px;
}

.moviesCard__button_active {
  background: url('../../images/button_moviesCard.svg');
  grid-area: 3 / 1 / 4 / 4;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 29px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.91px;
}

.moviesCard__button-delete {
  background: url('../../images/button_deleteCard.svg');
  grid-area: 3 / 1 / 4 / 4;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 29px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.91px;
}

.moviesCard__button:hover {
  cursor: pointer;
  background: rgba(49, 49, 49, .8);
  opacity: .7;;
}

.moviesCard__button_active:hover {
  background: url('../../images/button_moviesCard.svg');
  cursor: pointer;
  opacity: .8;
}

.moviesCard__button-delete:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 768px) {
  .moviesCard {
    width: 342px;
    height: 309px;
  }

  .moviesCard__image-link {
    height: 195px;
  }
}

@media (max-width: 425px) {
  .moviesCard {
    width: 300px;
    height: 271px;
    grid-row-gap: 14px;
  }

  .moviesCard__image-link {
    height: 168px;
  }

  .moviesCard__title {
    padding-left: 14px;
    padding-top: 14px;
    font-size: 12px;
    line-height: 1.5;
  }

  .moviesCard__diration {
    padding-right: 14px;
    padding-top: 14px;
    font-size: 10px;
    line-height: 1.8;
  }
}
