.movies {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.movies__button-box {
  visibility: visible;
  opacity: 1;
  padding: 50px 0 80px;
}

.movies__button-box_disactive {
  visibility: hidden;
  opacity: 0;
}

.movies__more {
  border: 1px solid #424242;
  background: none;
  color: #fff;
  border-radius: 3px;
  width: 320px;
  height: 36px;
  padding: 0;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.91px;
}

.movies__more:hover {
  cursor: pointer;
  opacity: .7;
  transition: .2s ease-in;
}

.search__error {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  color: #8b8b8b;
  text-align: center;
}

@media (max-width: 425px) {
  .movies__more {
    width: 240px;
    font-size: 12px;
  }

  .search__error {
    font-size: 18px;
  }
}

