.error {
  padding: 246px 0 50px;
}

.error__status {
  color: #FFF;
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  margin: 0 0 5px;
}

.error__text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 184px;
}

.error__button {
  background: none;
  border: none;
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.error__button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .error {
    padding: 408px 0 222px;
  }
}

@media (max-width: 320px) {
  .error {
    padding: 329px 0 30px;
  }

  .error__status {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .error__text {
    font-size: 12px;
    margin-bottom: 284px;
  }

  .error__button {
    font-size: 12px;
  }
}
