.navigation {
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
}

.navigation__link {
  font-weight: 400;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

.navigation__link:nth-child(2) {
  margin-right: 50px;
}

.navigation__link:hover {
  opacity: .7;
  cursor: pointer;
  transition: .2s ease-in;

}

.navigation__link_active {
  font-weight: 500;
}

.navigation__button {
  background-color: #313131;
  border: none;
  border-radius: 20px;
  padding: 0;
  width: 100px;
  height: 32px;
  font-weight: 500;
}

.button__text {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navigation__button:hover {
  opacity: .7;
  cursor: pointer;
  transition: .2s ease-in;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .navigation__button {
    width: 76px;
  }
}
